<div class="each-co">
	<span>{{book-title}} ({{BookID}})</span>
	<span>Checked out: {{checkout-date}}</span>
	<span>Returned: {{if returned}}yes{{else}}<span class="not-returned">no</span>{{/if}</span>
</div>