<main class="content" id="browse">
	<div class="column-container">
		<div class="side-left" id="sortmembers-sidebar">
			<h5 class="sort-header">Sort by...</h5>
			<div id="sort-fields-catalog">
			<!-- fix later, isnt sort fields lol
				<input name="sort-title" type="text" id="sort-title" placeholder="Title">
				<input name="sort-author" type="text" id="sort-author" placeholder="Author">
				<input name="sort-genre" type="text" id="sort-genre" placeholder="Genre">
				<input name="sort-bookid" type="text" id="sort-bookid" placeholder="Book ID">
			-->
			<!-- This is one way we could implement this where additional sort fields can be
			added and the priority of the sort depends on the order the sorts are added. Additional
			sort fields could be added via the "+ add sort criteria". If we keep it, I can add
			a JS function to change the options dynamically so an option can't be chosen twice.-->
				<select class="sort-field" name="sort-field-1" id="sort-field-book-1">
					<option value="none">None</option>
					<option value="book.title">Title</option>
					<option value="author.firstName">Author</option>
					<option value="genre.genreName">Genre</option>
					<option value="book.bookID">Book ID</option>
				</select>
				<br>

			</div>
			<button class="btn update-btn" type="button" id="submit-sort">Update</button>
		</div>

		<div class="center-section" id="search-main">
			<div id="search-bar">
				<input name="search-prompt" type="text" id="search-prompt" placeholder="Search...">
				<button type="button" id="search-books-button"><i class="fas fa-chevron-right"></i></button>
			</div>

			<div id="books">
				{{#each books}}
					<div>
						<div class="book-title">{{title}}</div>
						<div class="book-detail-container">
							<div>{{firstName}} {{lastName}}</div>
							<div>{{genreName}}</div>
							<div>{{bookID}}</div>
						</div>
					</div>
				{{/each}}
			</div>
		</div>

		<div class="side-right" id="weekly-picks">
			<h5>Weekly Picks</h5>
			<!-- fill with static content later -->
				<div>
					<div class="book-title">1984</div>
					<div class="book-detail-container">
						<div>George Orwell</div>
						<div>Science Fiction</div>
						<div>19</div>
					</div>
				</div>
				<div>
					<div class="book-title">To Kill a Mockingbird</div>
					<div class="book-detail-container">
						<div>Harper Lee</div>
						<div>Novel</div>
						<div>17</div>
					</div>
				</div>
				<div>
					<div class="book-title">Hamlet</div>
					<div class="book-detail-container">
						<div>William Shakespeare</div>
						<div>Tragedy</div>
						<div>9</div>
					</div>
				</div>
				<div>
					<div class="book-title">Catch-22</div>
					<div class="book-detail-container">
						<div>Catch-22</div>
						<div>Satire</div>
						<div>12</div>
					</div>
				</div>
		</div>
	</div>

</main>